<div class="sidebar four columns">
  {% if settings.collection_top_sidebar_page != blank %}
    <h4>{{ pages[settings.collection_top_sidebar_page].title }}</h4>
    {{ pages[settings.collection_top_sidebar_page].content }}
  {% endif %}

  <h4 class="toggle"><span>+</span>{{ settings.tags_text }}</h4>

{% for col in collections %}
  {% assign poop = col.handle %}
  <h5>Color</h5>
  <ul>
    {% assign colorlist = '' %}
    {% assign color = '' %}
    {% for product in collections.[poop].products %}   
      {% for variant in product.variants %}
        {% capture color %}
          {{ variant.option1 }}
        {% endcapture %}
        {% unless colorlist contains color %}
          <li class="{{ color }}">
            {{ color }}
          </li>
          {% capture tempList %}
            {{ colorlist | append: color | append: ‘ ‘}}
          {% endcapture %}
          {% assign colorlist = tempList %}
        {% endunless %}
      {% endfor %}
    {% endfor %}
  </ul>

  <h5>Size</h5>
  <ul>
    {% assign sizelist = '' %}
    {% assign size = '' %}
    {% for product in collections.[poop].products %}   
      {% for variant in product.variants %}
        {% capture size %}
          {{ variant.option2 }}
        {% endcapture %}
        {% unless sizelist contains size %}
          <li class="{{ size }}">
            {{ size }}
          </li>
          {% capture tempList2 %}
            {{ sizelist | append: size | append: ‘ ‘}}
          {% endcapture %}
          {% assign sizelist = tempList2 %}
        {% endunless %}
      {% endfor %}
    {% endfor %}
  </ul>

  <h5>Leg Length</h5>
  <ul>
    {% assign lengthlist = '' %}
    {% assign length = '' %}
    {% for product in collections.[poop].products %}   
      {% for variant in product.variants %}
        {% capture length %}
          {{ variant.option3 }}
        {% endcapture %}
        {% unless lengthlist contains length %}
          <li class="{{ length }}">
            {{ length }}
          </li>
          {% capture tempList2 %}
            {{ lengthlist | append: length | append: ‘ ‘}}
          {% endcapture %}
          {% assign lengthlist = tempList2 %}
        {% endunless %}
      {% endfor %}
    {% endfor %}
  </ul>

{% endfor %}

</div>