<div class="gutter" id="productPage">
  <div class="sixteen columns">
    <div class="clearfix breadcrumb">
      <div class="right mobile_hidden">
        {% if collection.previous_product %}
          <a class="next-prev" href="{{ collection.previous_product }}">&larr; Prev</a>
          {% if collection.next_product %}&nbsp; | &nbsp;{% endif %}
        {% endif %}

        {% if collection.next_product %}
          <a class="next-prev" href="{{collection.next_product}}">Next &rarr;</a>
        {% endif %}
      </div>

      <span itemscope itemtype="http://data-vocabulary.org/Breadcrumb"><a href="{{ shop.url }}" title="{{ shop.name | escape }}" itemprop="url"><span itemprop="title">Home</span></a></span> 
      &nbsp; / &nbsp;
      <span itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
        {% if collection %}
          <a href="{{ collection.url }}" title="{{ collection.title | escape }}">{{ collection.title }}</a>
        {% else %}
          <a href="/collections/all" title="All Products">Products</a>
        {% endif %}
      </span>
      &nbsp; / &nbsp; 
      {{ product.title }}
    </div>
  </div>

  {% if settings.product_sidebar %}
    {% include 'sidebar' %}
    <div class="twelve columns" itemscope itemtype="http://data-vocabulary.org/Product" id="product-{{ product.id }}">
  {% else %}
    <div class="sixteen columns" itemscope itemtype="http://data-vocabulary.org/Product" id="product-{{ product.id }}">
  {% endif %}


  	<div class="section product_section clearfix">
  	  
    	 {% if settings.product_images_position == 'left' %}             
         <div class="{% if settings.product_sidebar %}four{% else %}six{% endif %} columns product-gallery {% if product-images == blank %}{% if settings.product_images_position == 'left' %}alpha{% else %}omega{% endif %}{% endif %}">
           {% include 'product-images' %}
          </div>
       {% endif %}

       <div class="{% if settings.product_sidebar %}four{% else %}six{% endif %} columns product-information">
         <h1 class="product_name" itemprop="name">{{ product.title }}</h1>

         <p class="modal_price" itemprop="offerDetails" itemscope itemtype="http://data-vocabulary.org/Offer">
           <meta itemprop="currency" content="{{ shop.currency }}" />
           <meta itemprop="seller" content="{{ shop.name | escape }}" />
           <meta itemprop="availability" content="{% if product.available %}in_stock{% else %}out_of_stock{% endif %}" />
           
           <span class="sold_out">{% if product.available == false %}{{ settings.sold_out_text }} - {% endif %}</span>
           <span itemprop="price" content="{{ product.price | money_without_currency }}" class="{% if product.compare_at_price_max > product.price %}sale{% endif %}">
              <span class="current_price">
                {{ product.price | money }}
              </span>
           </span>
           {% if product.price < product.compare_at_price_max %}
           <small><em>from</em></small>
           {% endif %}
           <span class="was_price">
            {% if product.price < product.compare_at_price_max %}
              {{ product.compare_at_price | money }}
            {% endif %}
           </span>
         </p>
       
        {% include 'product-notify-me' %}

        <div class="description" itemprop="description">
         {{ product.description }}
        </div>

        {% if settings.display_collections or settings.display_tags or settings.display_type %}
         <hr />
        {% endif %}
       
         <div class="meta">
           {% if settings.display_collections %}
             <p>
               <span class="label">Collections:</span> 
               <span>
                {% for col in product.collections %}
                  <a href="{{ col.url }}" title="{{ col.title }}">{{ col.title }}</a>{% unless forloop.last %},{% endunless %} 
                {% endfor %}
              </span>
            </p>
           {% endif %}
         
           {% if settings.display_tags %}
              <p>
                {% for tag in product.tags %}
                  {% if forloop.first %}
                    <span class="label">Category:</span> 
                  {% endif %}

                  {% unless tag contains 'meta-related-collection-' %}
                    <span>
                        <a href="/collections/{% if collection %}{{ collection.handle }}{% else %}all{% endif %}/{{ tag | handle }}" title="Products tagged {{ tag | escape}}">{{ tag }}</a>
                    </span>
                  {% endunless %} 
                {% endfor %}
              </p>
           {% endif %}
         
          {% if settings.display_type %}
             <p>
               <span class="label">Type:</span> <span itemprop="category">{{ product.type | link_to_type }}</span>
             </p>
          {% endif %}
         </div>

        {% include "social-buttons" with "product" %}     
      </div>

      <div class="{% if settings.product_sidebar %}two{% else %}four{% endif %} columns product-options {%if settings.product_images_position == 'left' %}omega{% else %}alpha{% endif %}">
        {% include 'product-form' %}
      </div>


      
      {% if settings.product_images_position == 'right' %}   
        <div class="{% if settings.product_sidebar %}six{% else %}eight{% endif %} columns {% if product-images == blank %}{% if settings.product_images_position == 'left' %}alpha{% else %}omega{% endif %}{% endif %}">          
          {% include 'product-images' %}
          {% include "social-buttons" with "product" %}
        </div>
      {% endif %}
    </div>
  </div>


  {% if settings.display_related_products %}
    {% capture limit %}{{ settings.products_per_row | plus: 1 }}{% endcapture %}

    {% if collection and collection.all_products_count > 1 %}
      {% assign col = collection.handle %}
    {% else %}
      {% assign col = product.collections.last.handle %}
    {% endif %}

    {% for tag in product.tags %}
      {% if tag contains 'meta-related-collection-' %}
        {% assign col = tag | remove: 'meta-related-collection-' %}
        {% assign collection = collections[col] %}
        {% capture limit %}{{ collection.products_count | plus: 1 }}{% endcapture %}
      {% endif %}
    {% endfor %}
      
    {% if col and collections[col].all_products_count > 0 %}
      <br class="clear" />
      <br class="clear" />
      <div class="{% if settings.product_sidebar %}twelve offset-by-four{% else %}sixteen{% endif %} columns">
        <h4 class="title center">{{ settings.related_products_title }}</h4>
      </div>

      {% assign skip_product = product %}
      {% assign products = collections[col].products %}
      {% assign products_per_row = settings.products_per_row %}
      <div class="{% if settings.product_sidebar %}twelve offset-by-four{% else %}sixteen{% endif %} columns">
        {% include 'product-loop' with settings.product_sidebar %}
      </div>
    {% endif %}
    
  {% endif %}

  <ul class="all-images hidden">
    {% for image in product.images %}
        <li data-thumb="{{ image | product_img_url: 'large' }}" data-title="{{ image.alt | escape }}">
          <a href="{{ image | product_img_url: 'master' }}" class="fancybox" data-fancybox-group="{{ product.id }}" title="{{ image.alt | escape }}">
            <img src="{{ 'loader.gif' | asset_url }}" data-src="{{ image | product_img_url: 'large' }}" data-src-retina="{{ image | product_img_url: 'grande' }}" alt="{{ image.alt | escape }}" {% if product-images == blank %}itemprop="image"{% endif %} data-cloudzoom="zoomImage: '{{ image | product_img_url: 'master' }}', tintColor: '{{ settings.shop_bg_color }}', zoomPosition: 'inside', zoomOffsetX: 0" class="cloudzoom" />
          </a>
        </li>
    {% endfor %}
  </ul>

</div>
